.main-menu {
    padding: 15px;
    
    .ant-menu {
        transition: display 0s linear 0.33s;
        background: #F3F7FD;
        box-shadow: 0 10px 40px -20px rgba(0, 0, 50, 0.2), 0 10px 80px -20px rgba(0, 0, 50, 0.1);
        
        .ant-menu-item, .ant-menu-submenu {
            height: auto;
            text-align: center;
            margin: 0;
            padding: 15px 15px 0;

            i {
                font-size: 30px;
                margin: 0;
                img {
                    width: 30px;
                }
            }

            .ant-menu-submenu-title {
                height: initial;
                padding: 0;
                i.ant-menu-submenu-arrow {
                    display: none;
                }
            }
            
            a {
                display: block;
                color: rgba(0, 0, 0, 0.65);
                &::before {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: transparent;
                    content: '';
                }
            }
        }

        .ant-menu-item-selected, .ant-menu-submenu-active, .ant-menu-submenu-selected {
            a, a:hover {
                color: #1890ff;
            }
        }

        .ant-menu-item-divider {
            margin: 1px 15px;
        }
    }

    button {
        display: none;
    }
}

.screen-xs, .screen-sm, .screen-md {
    .main-menu {
        button {
            display: block;
        }
    
        .hide {
            visibility: hidden;
            opacity: 0;
        }

        .ant-menu {
            transition: visibility 0s linear 0.33s, opacity 0.33s linear;
            .ant-menu-item, .ant-menu-submenu {
                padding: 0;
    
                i {
                    font-size: 15px;
                    margin: 0;
                    img {
                        width: 15px;
                    }
                }
            }
    
            .ant-menu-item-divider {
                display: none;
            }

            a {
                span {
                    display: none;
                }
            }
        }
    }
}