@import '../../../resources/mixins';

.weight-add-form {
    max-width: 800px;
    padding: 24px;

    .ant-form-item {
        display: flex;
        .ant-form-item-label {
            width: 100px;
            text-align: right;
        }
        
        .ant-form-item-control-wrapper {
            min-width: 200px;
        }
        .ant-input-number {
            width: 200px;
        }
    }
}
.no-label {
    margin-left: 100px;
}
